<article class="post">
    <div class="title">
        <a href="{{game_url}}" target="_blank">{{title}}</a>
    </div>
    <div class="meta">
        Game Type: {{game_type}}
        <br>
        Game Date: {{game_date}}
        <br>
        Game Time: {{game_time}}
        <br>
        Location: {{game_venue}}
        <br>

        Post created by {{player.username}} on {{format_date created_at}}

        {{!-- <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a> --}}
    </div>
</article>