{{#if game.length}}
<section>
  <h2>All Games</h2>
  <ul>
    {{#each game as |game|}}
    <li>
      {{> game-info game}}
    </li>
    <br>
    {{/each}}
  </ul>
</section>
{{/if}}

{{#if game.length}}
<section>
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-4">
        {{#each game as |game|}}
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="./img/soccer-field.jpeg" class="img-fluid rounded-start" alt="soccer field"
                style="height: 100%">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="card-text">{{game.game_date}} - {{game.game_time}}}</p>
                <h5 class="card-title">Game Type: {{game.game_type}}</h5>
                <p class="card-text">{{game.game_venu}}</p>
                <p class="card-text d-inline me-1">
                  <i class="bi bi-calendar-check-fill fs-5 d-inline"></i>
                <p class="card-text d-inline"><small class="text-muted fs-6">{{game.atten_count}}</small></p>
                </p>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</section>
{{/if}}